<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="flex-column">
    <label>Email</label>
    <div class="inputForm">
      <input formControlName="email" placeholder="Enter your email" type="email" required />
    </div>
  </div>

  <div class="flex-column">
    <label>Password</label>
    <div class="inputForm">
      <input formControlName="password" placeholder="Enter your password" type="password" required />
    </div>
  </div>

  <button class="button-submit" type="submit">Sign In</button>
</form>
