
    <div class="container">
        <div class="Title text-center">
            <h2>Contact Us</h2>
            <h4>Feel free to contact me if you have travel questions, comments, or suggestions!
                I'll try to get back to you!</h4>
        </div>

        <div class="row">
            <div class="col-lg-8 mb-5">
                <div class="form-title">
                    <h2>Have you any question?</h2>
                    <h5>Please use the contact form below.</h5>
                </div>

                <!--Form-->
                <div class="Form">
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col mb-3">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="phone" placeholder="Your Phone Number">
                    </div>

                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                    </div>

                    <div class="mb-4">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" rows="3" placeholder="Send me your questions, comments, or suggestions!"></textarea>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12 bg-light p-4 mt-6 shadow rounded" style="height: auto; margin-top: 30px;">
                <div class="text-center mb-4">
                    <h2><i class="fa-regular fa-paper-plane fa-beat"></i> <br>Explore, Dream, Discover</h2>
                </div>

                <div class="mb-4">
                    <h4><i class="fa-solid fa-location-dot"></i> Our Location</h4>
                    <p>Emo Tours, <br>6th of October, Giza <br>Egypt</p>
                    <div class="map"> <img src="/assets/OIP.jpeg" alt="map" class="map"></div>
                </div>

                <div class="mb-4">
                    <h4><i class="far fa-clock"></i> Job Hours</h4>
                    <p>MON - FRIDAY: 8 to 9 PM <br>SAT - SUN: 10 to 8 PM</p>
                </div>

                <div>
                    <h4><i class="fa-solid fa-address-card"></i> Contact</h4>
                    <p>
                        <i class="fa-solid fa-phone"></i> Phone: +00 111 222 3333 <br>
                        <i class="fa-regular fa-envelope"></i> Email: supporttravila.com </p>
                </div>
            </div>




        </div>

    </div>
