<section class="dest padding">
  <div class="container">
    <h2 class="heading-tertiary text-center">ALL<span> Blogs</span></h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('hawaii')">
          <img
            class="card-img-top"
            src="assets/gallery-01.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>City, Las Vegas</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('London')">
          <img
            class="card-img-top"
            src="assets/jakob-owens-Nrf3yY0kxCM-unsplash.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>Queen Elizabeth Tower, London</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('Vegas')">
          <img
            class="card-img-top"
            src="assets/gallery-03.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>Mountains, Hawaii</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/gallery-01.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>City, Las Vegas</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/jakob-owens-Nrf3yY0kxCM-unsplash.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>Queen Elizabeth Tower, London</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/gallery-03.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>Mountains, Hawaii</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/gallery-01.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>City, Las Vegas</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/jakob-owens-Nrf3yY0kxCM-unsplash.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>Queen Elizabeth Tower, London</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/gallery-03.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>Mountains, Hawaii</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/gallery-01.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>City, Las Vegas</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/jakob-owens-Nrf3yY0kxCM-unsplash.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>Queen Elizabeth Tower, London</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/gallery-03.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>Mountains, Hawaii</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/gallery-01.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>City, Las Vegas</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/jakob-owens-Nrf3yY0kxCM-unsplash.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>Queen Elizabeth Tower, London</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
        <div class="card" (click)="goToBlogDetails('')">
          <img
            class="card-img-top"
            src="assets/gallery-03.jpg"
            alt="Card image cap"
          />
          <div class="text-center">
            <p>Mountains, Hawaii</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
