<div class="section" style="padding: 10px 100px 5px 100px">
  <h2>One Stop Daily News, Article, Inspiration,and Tips.</h2>
  <p>
    Features productivity, tips, inspiration and strategies for massive profits.
    Find out how to set up a successful blog or how to make yours even better!
  </p>
</div>
<div class="container mt-5 mb-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/IMG2/1.jpg" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
          <h5 class="Canada">
            From the cosmopolitan streets of Toronto to the snow-capped peaks of
            the Canadian Rockies, our neighbor to the north features a diverse
            set of vacation destinations that are beautiful year-round.
          </h5>
          <p class="card-text mt-auto">
            <small class="text-muted">Canada</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/IMG2/8.jpg" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
          <h5 class="Portugal">
            With magnificent architecture, stunning landscapes, delicious
            cuisine, and a rich history and culture, you’ll never run out of
            things to do in Portugal.
          </h5>
          <p class="card-text mt-auto">
            <small class="text-muted">Portugal</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/IMG2/6.webp" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            The Only Travel Packing Checklist You'll Ever Need
          </h5>
          <p class="card-text mt-auto">
            <small class="text-muted">Portugal</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/IMG2/5.webp" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            7 Remarkably Powerful Keys to Happiness and Success
          </h5>
          <p class="card-text">
            Lorem ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            since the 1500s.
          </p>
          <p class="card-text mt-auto">
            <small class="text-muted">Portugal</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/IMG2/4.jpg" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            Everyday Spending Hacks to Help You Save Money
          </h5>
          <p class="card-text mt-auto">
            <small class="text-muted">Portugal</small>
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col">
                <div class="card h-100">
                  <img src="IMG/3.webp" class="card-img-top" alt="...">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">travelling by boat in Italy can be a sublime pleasure (especially during the summer!) – and an excellent way to avoid the hassles of flying or driving.</h5>
                    <p class="card-text mt-auto"><small class="text-muted">Italy</small></p>  
                </div> -->
    <!-- </div>
              </div> -->
  </div>
</div>

<!-- <section class="one">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="/IMG/3.webp" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Italy</h5>
          <p class="card-text">
            travelling by boat in Italy can be a sublime pleasure (especially
            during the summer!) – and an excellent way to avoid the hassles of
            flying or driving. .
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/IMG/4.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">France</h5>
          <p class="card-text">
            shortage of revelatory cultural, gastronomic, and outdoor
            experiences to be had throughout France and many of them are within
            close proximity to some of the country.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/IMG/5.webp" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Switzerland</h5>
          <p class="card-text">
            Get a taste of Swiss life for yourself. Switzerland is arguably one
            of the most stunning countries in Europe. With dramatic alpine
            scenery
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/IMG/6.webp" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Germany</h5>
          <p class="card-text">
            Travel tips for exploring the Central European country Germany
            consists of 16 states, which means 16 reasons to visit the country.
            Each state is diverse and my main travel tip is to visit each one
            multiple times.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
