<div class="container">
  <div class="row">
    <!-- البطاقة الأولى -->
    <div class="col-lg-4 mb-4">
      <div class="card overflow-hidden hover-img">
        <div class="position-relative">
          <a href="javascript:void(0)">
            <img
              src="/img/pexels-cottonbro-9951671.jpg"
              class="card-img-top"
              alt="Card image 1"
            />
          </a>
          <span
            class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"
            >2 min Read</span
          >
          <!-- <img src="profile1.jpg" alt="User image" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40"> -->
        </div>
        <div class="card-body p-4">
          <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3"
            >Social</span
          >
          <a
            class="d-block my-4 fs-5 text-dark fw-semibold link-primary"
            href="#"
            >As yen tumbles, gadget-loving Japan goes for secondhand iPhones</a
          >
          <div class="d-flex align-items-center gap-4">
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-eye text-dark fs-5"></i>9,125
            </div>
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-message-2 text-dark fs-5"></i>3
            </div>
            <div class="d-flex align-items-center fs-2 ms-auto">
              <i class="ti ti-point text-dark"></i>Mon, Dec 19
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- البطاقة الثانية -->
    <div class="col-lg-4 mb-4">
      <div class="card overflow-hidden hover-img">
        <div class="position-relative">
          <a href="javascript:void(0)">
            <img
              src="/img/pexels-george-pak-7968575.jpg"
              class="card-img-top"
              alt="Card image 2"
            />
          </a>
          <span
            class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"
            >2 min Read</span
          >
          <!-- <img src="profile2.jpg" alt="User image" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40"> -->
        </div>
        <div class="card-body p-4">
          <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3"
            >Gadget</span
          >
          <a
            class="d-block my-4 fs-5 text-dark fw-semibold link-primary"
            href="#"
            >Intel loses bid to revive antitrust case against patent foe
            Fortress</a
          >
          <div class="d-flex align-items-center gap-4">
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-eye text-dark fs-5"></i>4,150
            </div>
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-message-2 text-dark fs-5"></i>38
            </div>
            <div class="d-flex align-items-center fs-2 ms-auto">
              <i class="ti ti-point text-dark"></i>Sun, Dec 18
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- البطاقة الثالثة -->
    <div class="col-lg-4 mb-4">
      <div class="card overflow-hidden hover-img">
        <div class="position-relative">
          <a href="javascript:void(0)">
            <img
              src="/img/pexels-bayfilm9-15377956.jpg"
              class="card-img-top"
              alt="Card image 3"
            />
          </a>
          <span
            class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"
            >2 min Read</span
          >
          <!-- <img src="profile3.jpg" alt="User image" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40"> -->
        </div>
        <div class="card-body p-4">
          <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3"
            >Health</span
          >
          <a
            class="d-block my-4 fs-5 text-dark fw-semibold link-primary"
            href="#"
            >COVID outbreak deepens as more lockdowns loom in China</a
          >
          <div class="d-flex align-items-center gap-4">
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-eye text-dark fs-5"></i>9,480
            </div>
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-message-2 text-dark fs-5"></i>12
            </div>
            <div class="d-flex align-items-center fs-2 ms-auto">
              <i class="ti ti-point text-dark"></i>Sat, Dec 17
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- البطاقة الأولى -->
    <div class="col-lg-4 mb-4">
      <div class="card overflow-hidden hover-img">
        <div class="position-relative">
          <a href="javascript:void(0)">
            <img
              src="/img/jakob-owens-VzvLN-cT1lk-unsplash.jpg"
              class="card-img-top"
              alt="Card image 1"
            />
          </a>
          <span
            class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"
            >2 min Read</span
          >
          <!-- <img src="profile1.jpg" alt="User image" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40"> -->
        </div>
        <div class="card-body p-4">
          <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3"
            >Social</span
          >
          <a
            class="d-block my-4 fs-5 text-dark fw-semibold link-primary"
            href="#"
            >As yen tumbles, gadget-loving Japan goes for secondhand iPhones</a
          >
          <div class="d-flex align-items-center gap-4">
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-eye text-dark fs-5"></i>9,125
            </div>
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-message-2 text-dark fs-5"></i>3
            </div>
            <div class="d-flex align-items-center fs-2 ms-auto">
              <i class="ti ti-point text-dark"></i>Mon, Dec 19
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- البطاقة الثانية -->
    <div class="col-lg-4 mb-4">
      <div class="card overflow-hidden hover-img">
        <div class="position-relative">
          <a href="javascript:void(0)">
            <img
              src="/img/kashish-lamba-8vv87tI238s-unsplash.jpg"
              class="card-img-top"
              alt="Card image 2"
            />
          </a>
          <span
            class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"
            >2 min Read</span
          >
          <!-- <img src="profile2.jpg" alt="User image" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40"> -->
        </div>
        <div class="card-body p-4">
          <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3"
            >Gadget</span
          >
          <a
            class="d-block my-4 fs-5 text-dark fw-semibold link-primary"
            href="#"
            >Intel loses bid to revive antitrust case against patent foe
            Fortress</a
          >
          <div class="d-flex align-items-center gap-4">
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-eye text-dark fs-5"></i>4,150
            </div>
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-message-2 text-dark fs-5"></i>38
            </div>
            <div class="d-flex align-items-center fs-2 ms-auto">
              <i class="ti ti-point text-dark"></i>Sun, Dec 18
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- البطاقة الثالثة -->
    <div class="col-lg-4 mb-4">
      <div class="card overflow-hidden hover-img">
        <div class="position-relative">
          <a href="javascript:void(0)">
            <img
              src="/img/kristin-wilson-Pr-r8kq-tfs-unsplash.jpg"
              class="card-img-top"
              alt="Card image 3"
            />
          </a>
          <span
            class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"
            >2 min Read</span
          >
          <!-- <img src="profile3.jpg" alt="User image" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40"> -->
        </div>
        <div class="card-body p-4">
          <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3"
            >Health</span
          >
          <a
            class="d-block my-4 fs-5 text-dark fw-semibold link-primary"
            href="#"
            >COVID outbreak deepens as more lockdowns loom in China</a
          >
          <div class="d-flex align-items-center gap-4">
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-eye text-dark fs-5"></i>9,480
            </div>
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-message-2 text-dark fs-5"></i>12
            </div>
            <div class="d-flex align-items-center fs-2 ms-auto">
              <i class="ti ti-point text-dark"></i>Sat, Dec 17
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- البطاقة الأولى -->
    <div class="col-lg-4 mb-4">
      <div class="card overflow-hidden hover-img">
        <div class="position-relative">
          <a href="javascript:void(0)">
            <img
              src="/img/mike-swigunski-z9lWh_8MLlw-unsplash.jpg"
              class="card-img-top"
              alt="Card image 1"
            />
          </a>
          <span
            class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"
            >2 min Read</span
          >
          <!-- <img src="profile1.jpg" alt="User image" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40"> -->
        </div>
        <div class="card-body p-4">
          <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3"
            >Social</span
          >
          <a
            class="d-block my-4 fs-5 text-dark fw-semibold link-primary"
            href="#"
            >As yen tumbles, gadget-loving Japan goes for secondhand iPhones</a
          >
          <div class="d-flex align-items-center gap-4">
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-eye text-dark fs-5"></i>9,125
            </div>
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-message-2 text-dark fs-5"></i>3
            </div>
            <div class="d-flex align-items-center fs-2 ms-auto">
              <i class="ti ti-point text-dark"></i>Mon, Dec 19
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- البطاقة الثانية -->
    <div class="col-lg-4 mb-4">
      <div class="card overflow-hidden hover-img">
        <div class="position-relative">
          <a href="javascript:void(0)">
            <img
              src="/img/mike-swigunski-iBR-N5Vg8ck-unsplash.jpg"
              class="card-img-top"
              alt="Card image 2"
            />
          </a>
          <span
            class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"
            >2 min Read</span
          >
          <!-- <img src="profile2.jpg" alt="User image" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40"> -->
        </div>
        <div class="card-body p-4">
          <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3"
            >Gadget</span
          >
          <a
            class="d-block my-4 fs-5 text-dark fw-semibold link-primary"
            href="#"
            >Intel loses bid to revive antitrust case against patent foe
            Fortress</a
          >
          <div class="d-flex align-items-center gap-4">
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-eye text-dark fs-5"></i>4,150
            </div>
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-message-2 text-dark fs-5"></i>38
            </div>
            <div class="d-flex align-items-center fs-2 ms-auto">
              <i class="ti ti-point text-dark"></i>Sun, Dec 18
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- البطاقة الثالثة -->
    <div class="col-lg-4 mb-4">
      <div class="card overflow-hidden hover-img">
        <div class="position-relative">
          <a href="javascript:void(0)">
            <img
              src="/img/mike-swigunski-z9lWh_8MLlw-unsplash.jpg"
              class="card-img-top"
              alt="Card image 3"
            />
          </a>
          <span
            class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"
            >2 min Read</span
          >
          <!-- <img src="profile3.jpg" alt="User image" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40"> -->
        </div>
        <div class="card-body p-4">
          <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3"
            >Health</span
          >
          <a
            class="d-block my-4 fs-5 text-dark fw-semibold link-primary"
            href="#"
            >COVID outbreak deepens as more lockdowns loom in China</a
          >
          <div class="d-flex align-items-center gap-4">
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-eye text-dark fs-5"></i>9,480
            </div>
            <div class="d-flex align-items-center gap-2">
              <i class="ti ti-message-2 text-dark fs-5"></i>12
            </div>
            <div class="d-flex align-items-center fs-2 ms-auto">
              <i class="ti ti-point text-dark"></i>Sat, Dec 17
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button -->
  <div class="button">
    <button class="cta">
      <span>Load more</span>
      <svg width="15px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </button>
  </div>
</div>
