<section id="gallery">
  <div class="container">
      <div class="row">
          <div class="main-header">
              <h2 class="display-4 mb-3 title-with-line">Amazing Collections</h2>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card">
                  <a class="img-card" href="javascript:;">
                    <img src="assets/jakob-owens-Nrf3yY0kxCM-unsplash.jpg" alt="Gallery Image 1" />
                  </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="javascript:;"> Monsoon
                          </a>
                      </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, assumenda.
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="javascript:;" class="btn btn-block">
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card">
                  <a class="img-card" href="javascript:;">
                      <img src="assets/kashish-lamba-8vv87tI238s-unsplash.jpg" />
                  </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="javascript:;"> Spring
                          </a>
                      </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, mollitia?
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="javascript:;" class="btn btn-block">
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card">
                  <a class="img-card" href="javascript:;">
                      <img src="assets/jakob-owens-VzvLN-cT1lk-unsplash.jpg" />
                  </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="javascript:;">Summer
                          </a>
                      </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, numquam.
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="javascript:;" class="btn btn-block">
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card">
                  <a class="img-card" href="javascript:;">
                      <img src="assets/kristin-wilson-b51DMPiThSs-unsplash.jpg" />
                  </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="javascript:;"> Autumn
                          </a>
                      </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, assumenda.
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="javascript:;" class="btn btn-block">
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card">
                  <a class="img-card" href="javascript:;">
                      <img src="assets/mike-swigunski-fM04dR7zcZ8-unsplash.jpg" />
                  </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="javascript:;"> Winter
                          </a>
                      </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, mollitia?
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="javascript:;" class="btn btn-block">
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card">
                  <a class="img-card" href="javascript:;">
                      <img src="assets/osama-elsayed-M7ij157xsOs-unsplash.jpg" />
                  </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="javascript:;">Unknown
                          </a>
                      </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, numquam.
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="javascript:;" class="btn btn-block">
                          Read More
                      </a>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
