.container {
  max-width: 900px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.card {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 5px;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px; /* تحديد ارتفاع النص */
}

.card {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* لضمان حدوث الحركة بشكل سلس */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* الظل الافتراضي للكارد */
}
.card:hover {
  transform: scale(1.05); /* تكبير الكارد قليلاً عند وضع الماوس */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* تغيير الظل عند التحريك */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-group {
  margin-bottom: 15px; /* لإضافة مسافة بين الحقول */
}

.btn {
  display: block; /* يجعل الزر يأخذ صف كامل */
  width: 100%; /* يجعل عرض الزر 100% من العنصر الأب */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.btn-success {
  background-color: #28a745;
  color: white;
  border: none;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-custom {
  border: 2px solid #4CAF50;
  color: white;
  background-color: #4CAF50;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

h2 {
  text-align: center;
  margin-top: 20px; /* يمكنك تعديل المسافة حسب الحاجة */
}

.stats-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  text-align: center;
}

.stats-section h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.stats-section p {
  font-size: 1.2rem;
  color: #333;
}
