.container {
  max-width: 900px;
  margin: 0 auto;
}

.profile-section {
  margin-bottom: 30px;
}

.profile-actions {
  margin-top: 20px;
}

.posts-section {
  margin-top: 50px;
}

.form-group {
  margin-bottom: 15px;
}

.card {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 5px;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px; /* تحديد ارتفاع النص */
}

.card {
  height: auto; /* السماح للكارد بالتمدد ليتناسب مع المحتوى */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
